.index_container{
    height: 100%;
    width: 80%;
    margin-top: 0%;
    margin-left: 10%;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 2.5vh;
    padding-bottom: 5vh;
}

.results {
    display: grid;
    row-gap: 3.5%;
    column-gap: .75%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    width: 100%;
    margin: 0 auto;
}

.informative_txt{
    align-self: center;
    justify-self: center;
    text-align: center;
}

/* Styling for the phone */
@media only screen and (max-width: 595px) {
    /* Here are some changes*/
    .results {
        display: grid;
        row-gap: 1%;
        column-gap: .75%;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 1fr;
        width: 100%;
        margin: 0 auto;
    }
}

/* Styling for the phone */
@media only screen and (min-width: 596px) and (max-width: 880px) {
    /* Here are some changes*/
    .results {
        display: grid;
        row-gap: 2%;
        column-gap: .75%;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        width: 100%;
        margin: 0 auto;
    }
}

/* Styling for the phone */
@media only screen and (min-width: 881px) and (max-width: 1200px) {
    /* Here are some changes*/
    .results {
        display: grid;
        row-gap: 5%;
        column-gap: .75%;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        width: 100%;
        margin: 0 auto;
    }
}