@font-face {
    font-family: lobster;
    src: url('static/el_galleria/fonts/Lobster-Regular.ttf');
}

.nav_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2vh 2vw;/* vh */
    justify-content: space-between;
}

.nav_home_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: lobster, regular;
}