{% extends 'el_galleria/base/base.html' %}
{% load static %}

{% block title %}
    {% if title %}
      {{title}}
    {% else %}
      Default index title
    {% endif %}
{% endblock %}
{% block styling_links %}
    <link rel="stylesheet" href="{% static 'el_galleria/styles/navbar_styles.css' %}">
    <link rel="stylesheet" href="{% static 'el_galleria/styles/index.css' %}">
{% endblock %}
{% block navbar %}
    <h4>Available meetups in ur area</h4>
{% endblock %}

{% block content %}

    {% for meetup_item in meetups %}
        {% include 'meet/includes/meetup_item.html' with meetup_item=meetup_item %}
    {% endfor %}
{% endblock %}