{% extends 'el_galleria/base/base.html' %}
{% load static %}

{% block title %}
    {% if title %}
      {{title}}
    {% else %}
      Default index title
    {% endif %}
{% endblock %}
{% block styling_links %}

    <link rel="stylesheet" href="{% static 'el_galleria/styles/index_styles.css' %}">
    <link rel="stylesheet" href="{% static 'el_galleria/styles/navbar_styles.css' %}">
{% endblock %}
{% block navbar %}
    {% include 'el_galleria/includes/navbar.html' %}
{% endblock %}

{% block content %}

    <p>The index</p>
{% endblock %}