{% extends 'el_galleria/base/base.html' %}
{% load static %}


{% block title %}
    {% if title %}
      {{title}}
    {% else %}
      Default index title
    {% endif %}
{% endblock %}
{% block styling_links %}
    <link rel="stylesheet" href="{% static 'el_galleria/styles/index_styles.css' %}">
    <link rel="stylesheet" href="{% static 'el_galleria/styles/filter_options_styles.css' %}">
    <link rel="stylesheet" href="{% static 'el_galleria/styles/search_navbar_styles.css' %}">
    <link rel="stylesheet" href="{% static 'el_galleria/styles/galleria_item_styles.css' %}">
{% endblock %}
{% block navbar %}
    <div class="search_tag_container">
        {% include 'el_galleria/includes/search_navbar.html' with url_to='search' %}
    </div>
{% endblock %}

{% block content %}
    <div class="index_container">
        <div class="results">
            {% if results_len > 0 %}
                {% for gallery_item in gallery %}
                    {% include 'el_galleria/includes/galleria_item.html' with gallery_item=gallery_item %}
                {% endfor %}
            {% else %}
                <div class="informative_txt">
                    <p>No results found for your search</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}